<!-- here for refference only DO NOT RUN  will clean up later-->

<!-- {% extends 'base.html '%}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/login.css"> 
{% endblock %}

{% block title %}
  Create a Post
{% endblock %}

{% block content %}
  <div class="container">
    <img src="jpg" alt=" Logo">
    <h1>Create Post</h1>
    <form method="POST" class="w-50 mx-auto">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.title(class='form-control', placeholder='Title')}}
          <div id="emailHelp" class="form-text">It's ok you're safe here. We'll never share or sell your email info.</div>
        </div>
        <div class="mb-3">
          {{ form.caption(class='form-control', placeholder='Caption') }}
        </div>
        <div class="mb-3">
            {{ form.img_url(class='form-control', placeholder='Image URL') }}
          </div>
        {{ form.submit_btn(class='btn btn-dark d-block mx-auto mt-5') }}
    </form>
  </div>
{% endblock %} -->