{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/battle.css">
{% endblock %}

{% block title %}
    LFG To Battle
{% endblock %}

{% block content %}
    {% include './includes/nav.html' %}

    <h1>Battle Progress</h1>

    {% if battle_state %}
        <h2>Battle Outcome: {{ battle_state }}</h2>
    {% else %}
        <h2>Battle Step: {{ current_step }}</h2>
    {% endif %}

    <div style="display: flex; justify-content: space-between;">
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    </div>

    {% for message in messages2 %}
    <p>{{ message }}</p>
    {% endfor %}

    <h2>Your Team:</h2>
    <div class="card-container">
        {% for pokemon in user_team %}
            <div class="card" style="width: 18rem;">
                <img src="{{ pokemon.sprite_url }}" class="card-img-top" alt="{{ pokemon.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">HP: {{ pokemon.hp }}</p>
                    <p class="card-text">Attack: {{ pokemon.attack }}</p>
                    <p class="card-text">Defense: {{ pokemon.defense }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>{{ selected_enemy_user.first_name }}'s Team:</h2>

    {% if not battle_state %}
    <div style="text-align: center;">
        <form method="POST">
            <input type="hidden" name="step" value="{{ current_step + 1 }}">
            <button type="submit" class="btn btn-primary">Attack</button>
        </form>
    </div>
    {% endif %}

    <div class="card-container">
        {% for pokemon in enemy_team %}
            <div class="card" style="width: 18rem;">
                <img src="{{ pokemon.sprite_url }}" class="card-img-top" alt="{{ pokemon.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">HP: {{ pokemon.hp }}</p>
                    <p class="card-text">Attack: {{ pokemon.attack }}</p>
                    <p class="card-text">Defense: {{ pokemon.defense }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    

{% endblock %}