{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}

{% block title %}
    Home Page
{% endblock %}


{% block content %}
{% include './includes/nav.html'%}
    <div class="container">
        <h2 class="home-h2">Welcome {{ current_user.first_name }}, Glad To Have You Here!</h2>
        <h2 class="home-h2">Prepare Yourself For Battle.</h2>
        <img src="https://thumbs.gfycat.com/BoilingFrankIbizanhound-size_restricted.gif" alt="pokemon battle">
    </div>
{% endblock %}

<!-- https://giffiles.alphacoders.com/130/130452.gif -->