{% extends 'base.html'%}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/pokemon.css">
{% endblock %}

{% block title %}
Pokemanes
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}
<div class="form-container">
    <form method="POST" class="w-25 mx-auto">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.pokemane.label(class='form-label') }}
            {{ form.pokemane(class='form-control') }}
        </div>
        {{ form.submit_btn(class='btn btn-primary')}}
    </form>
</div>

{% if pokemanes_dict %}
    <div class = "card-container">
        <div class="card" style="width: 18rem;">
            <img src="{{ pokemanes_dict.sprite_url }}" class="card-img-top" alt="{{ pokemanes_dict.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemanes_dict.name }}</h5>
                <p class="card-text">Base Experience: {{ pokemanes_dict.base_experience }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">HP Base Stat: {{ pokemanes_dict.hp_base_stat }}</li>
                <li class="list-group-item">Defense Base Stat: {{ pokemanes_dict.defense_base_stat }}</li>
                <li class="list-group-item">Attack Base Stat: {{ pokemanes_dict.atack_base_stat }}</li>
                <li class="list-group-item">Ability Name: {{ pokemanes_dict.ability_name }}</li>
            </ul>
            <!-- <div class="card-body"> can add links here later
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> -->
        </div>
    </div>
{% endif %}
{% endblock %}
