{% extends 'base.html'%}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/pokemon.css">
{% endblock %}

{% block title %}
Your Pokémon Team
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}

<h2>Your Team</h2>
<div class="card-container">
    {% for pokemon in user.team_pokemons %}
        <div class="card" style="width: 18rem;">
            <img src="{{ pokemon.sprite_url }}" class="card-img-top" alt="{{ pokemon.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
            </div>
            <div class="card-body"> 
                <a href="{{ url_for('main.release_pokemon', pokemon_id=pokemon.id) }}" class="btn btn-danger">Release</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}