/* I used this css to apply style to the signup form as well */
body {
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow for the form */
    margin-top: 20px; /* Add some space between h1 and form */
}

.mb-3 {
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.form-text {
    color: rgba(255, 255, 255, 0.7);
}

/* Style submit button to match pokemon.css */
.btn {
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

h1 {
    font-family: 'ubuntu', sans-serif; 
    font-size: 40px;
    color: white;
    margin-bottom: 20px; 
    /* Add some space between h1 and form */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    /* ^^  shadow effect */
}
